body {
	background-image: url(./img/React-icon.png);
	background-position-x: center;
	background-repeat: no-repeat;
	background-position-y: inherit;
}

#table_container {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

#form_wrap {
	background-color: rgb(97 219 251);
	padding: 40px;
	border-radius: 10px;
	width: 260px;
}

label {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

label span {
	padding: 5px 0;
	font-size: 20px;
	color: #424275;
	font-weight: bold;
	font-family: Arial;
}

.button {
	display: block;
	width: 100%;
	height: 30px;
	border: none;
	margin-bottom: 10px;
	background-color: rgb(66 66 117);
	color: white;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
}

.button:hover {
	background-color: rgb(87 87 144);
}

.button:focus,
form input {
	outline: none;
	border: none;
}

.button:active {
	background-color: #6a6ab8;
}

form {
	width: 100%;
}

form label {
	padding: 0 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

form input {
	margin-bottom: 10px;
	border-radius: 5px;
	height: 20px;
	border: none;
	width: 100%;
}

table {
	margin-top: 30px;
	border-collapse: collapse;
	position: relative;
}

table th {
	height: 30px;
	border: 1px solid black;
	width: 50px;
	background-color: white;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.light {
	background-color: yellowgreen;
}

.base {
	background-color: rgb(247 255 140);
}

.base:hover,
.light:hover,
.light:hover {
	background-color: green;
}

th {
	position: relative;
}

th .percent {
	position: absolute;
	width: 100%;
	background-color: blue;
	bottom: 0;
	left: 0;
	opacity: 50%;
	z-index: 0;
}

th .value {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 8px;
	left: 0;
}